//课程详情下面的tabs
.nav2Tabs {
  height: 52px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  line-height: 52px;
  display: flex;
  width: 1200px;
  padding: 0 10px;

  .tab {
    margin-right: 50px;
    padding-right: 2px;
    color: #999;
    cursor: pointer;

    &.on {
      border-bottom: 2px solid #ee0a24;
      color: #ee0a24;
    }
  }
}
